<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Page</title>
        <link rel="stylesheet" href="css/_all.css" type="text/css" />
    </head>
    <body>
        <div class="g-box">
            <div class="g-col w-4">
                <div class="g-cell">foo</div>
                <div class="g-cell">bar</div>
				<div class="g-cell">baz</div>
            </div>
			<div class="g-col w-8">
				<div class="g-row">
	                <div class="g-cell">foo</div>
	                <div class="g-cell">bar</div>
	                <div class="g-cell"><button>bar</button></div>
	            </div>
				<div class="g-row">
					<div class="g-cell">foo</div>
					<div class="g-cell">bar</div>
					<div class="g-cell"><button>bar</button></div>
				</div>
			</div>
			<div class="g-row">
				<div class="g-cell w-25">foo</div>
				<div class="g-cell w-50">bar</div>
				<div class="g-cell"><button>bar</button></div>
			</div>
        </div>
    </body>
</html>
