<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Page</title>
        <link rel="stylesheet" href="css/octane.css" type="text/css" />
    </head>
    <body>
        <div class="g-box">
            <div class="g-row">
                <div class="g-cell w-11">foo</div>
                <div class="g-cell">bar</div>
            </div>
			<div class="g-row">
                <div class="g-cell w-10">foo</div>
                <div class="g-cell">bar</div>
            </div>
			<div class="g-row">
				<div class="g-cell w-9">foo</div>
				<div class="g-cell">bar</div>
			</div>
			<div class="g-row">
				<div class="g-cell w-8">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-7">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-6">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-5">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-4">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-3">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-2">foo</div>
				<div class="g-cell">bar</div>
			</div>
            <div class="g-row">
				<div class="g-cell w-1">foo</div>
				<div class="g-cell">bar</div>
			</div>
        </div>
		<script src="js/octane.min.js"></script>
		<script>
			// var conduit = new Octane.Data.Conduit({
			// 	name: 'Foobar'
			// });
			//var mainView = new Octane.Surface();
			// var context = new Octane.Context( conduit, mainView );
			// context.render();
		</script>
    </body>
</html>
