[data-container] {
	height:100vh;

	display:flex;
	flex: 1;
	flex-flow:column nowrap;
}

[data-column]{

	display:flex;
	flex: 1;
	flex-flow:column wrap;
}

[data-row]{

	display:flex;
	flex: 1;
	flex-flow:row nowrap;
}

[data-cell] {
	flex: 1;
}
