.g-box {
	display:flex;
	flex: 1;
	flex-flow:row wrap;

	& .g-col {
		display:flex;
		flex: 1;
		flex-flow:column wrap;
	}

	& .g-row {
		display:flex;
		width:100%;
	}

	& .g-cell {
		flex: 1;

		margin: var(--grid-gutter);
	}

	& .a-center {
		align-items: center;
		justify-content: center;
	}

	@media (max-width: 500px) {
		& .g-row {
			flex-flow:column wrap;
		}

		& .g-cell {
			flex:none !important;
			width:100%;
		}

		@mixin gwidth 1, 1, 1;
		@mixin gwidth 2, 1, 1;
		@mixin gwidth 3, 1, 1;
		@mixin gwidth 4, 1, 1;
		@mixin gwidth 5, 1, 1;
		@mixin gwidth 6, 1, 1;
		@mixin gwidth 7, 1, 1;
		@mixin gwidth 8, 1, 1;
		@mixin gwidth 9, 1, 1;
		@mixin gwidth 10, 1, 1;
		@mixin gwidth 11, 1, 1;
		@mixin gwidth 12, 1, 1;
	}

	@media (min-width: 501px) {

		@mixin gwidth 1, 1;
		@mixin gwidth 2, 2;
		@mixin gwidth 3, 3;
		@mixin gwidth 4, 4;
		@mixin gwidth 5, 5;
		@mixin gwidth 6, 6;
		@mixin gwidth 7, 7;
		@mixin gwidth 8, 8;
		@mixin gwidth 9, 9;
		@mixin gwidth 10, 10;
		@mixin gwidth 11, 11;
		@mixin gwidth 12, 12;
	}

	/*@media (min-width: 801px) and (max-width: 1200px) {
		@mixin gwidth 1, 1, 10;
		@mixin gwidth 2, 2, 10;
		@mixin gwidth 3, 3, 10;
		@mixin gwidth 4, 4, 10;
		@mixin gwidth 5, 5, 10;
		@mixin gwidth 6, 6, 10;
		@mixin gwidth 7, 7, 10;
		@mixin gwidth 8, 8, 10;
		@mixin gwidth 9, 9, 10;
		@mixin gwidth 10, 10, 10;
		@mixin gwidth 11, 11, 10;
		@mixin gwidth 12, 12, 10;
	}

	@media (min-width: 1201px) {
		@mixin gwidth 1, 1;
		@mixin gwidth 2, 2;
		@mixin gwidth 3, 3;
		@mixin gwidth 4, 4;
		@mixin gwidth 5, 5;
		@mixin gwidth 6, 6;
		@mixin gwidth 7, 7;
		@mixin gwidth 8, 8;
		@mixin gwidth 9, 9;
		@mixin gwidth 10, 10;
		@mixin gwidth 11, 11;
		@mixin gwidth 12, 12;
	}*/
}
