table{
	table-layout: fixed;
	width:100%;

	border-radius: 10px;
	border:solid 1px #999;
	overflow:hidden;
	border-collapse:separate;
}

thead {
	background:#aaa;
}

tbody {

}

tfoot {
	background:#aaa;
}

tr {
	border-bottom:solid 1px #000;
}

tr:nth-child(even) {
	background-color:#ccc;
}

tr:nth-child(odd) {
	background-color:transparent;
}

td {
	overflow:hidden;

	padding:1em;
}

td.thumbnail {
	display:none;
}


table.card {
	width:100%;

	border-radius:0;
	border:none;

	display:block;
}

table.card thead,
table.card tfoot {
	display:none;
}

table.card tbody {
	display:flex;
	flex-flow:row wrap;
}

table.card tr {
	border:none;
	box-shadow:1px 1px 3px rgba(0,0,0,0.3);
	display:block;
	flex:0 0 200px;
	height:200px;
	margin:2em;
	overflow:hidden;
	position:relative;

	padding:0;

	transition: box-shadow 0.3s;
}

table.card tr:hover {
	box-shadow:1px 1px 4px 3px rgba(0,0,0,0.3);
}

table.card tr:nth-child(even),
table.card tr:nth-child(odd) {
	background-color:#fff;
}

table.card td {
	padding:0;
	display:block;
}

table.card td.thumbnail {
	display:block;
	width:100%;
	height:100%;
	padding:0;
	overflow:hidden;
}

table.card td.thumbnail img {
	width:100%;
	height:auto;
	transition: all 0.5s;
}

table.card td.thumbnail:hover img {
	width:115%;
}

table.card td:not(.thumbnail) {

}

table.card td:nth-child(2) {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:1em;
	background:rgba(255,255,255,1);
}
